
.DS_Store
/main.css
/main.css.map

+*.scssc
+.sass-cache/
public/css/.DS_Store
public/css/.sass-cache
public/css/main.css
public/css/main.css.map
Gemfile.lock
sqlite3:main.sqlite3

.scssc
.sass-cache/

