<h3>Update Your Blog Post</h3>
<form action='/editBlog/<%= @blogid %>' method='post'>
    <textarea id="input-content" maxlength="150" rows="4" cols="40" name="content" placeholder='Blog'></textarea><br>
    <input type="submit" value="Edit blog">
</form>
