<h1 class="friend-title">Hello, <%= @person.fname %>!</h1>

<!-- Space for NavBar -->

<h2>List of all Users:</h2>

<% @users.each do |u| %>
  <a href="/blogs/<%= u.id %>"><div><%= u.username %></div></a>
<% end %>
