<h2 class='hello'>Hello to My Page</h2>


<h4>Sign in form</h4>
<form action='/signin' method='post'>
	<input type="text" name="username" placeholder='username'>
	<input type="password" name="password" placeholder='password'>
	<input type="submit" value="Sign in">

</form>
<hr>
<h3>List of Blog titles</h3>
<% @blogs.each do |b| %>
<a href='/blogs/<%= b.id %>'><div><%= b.title %></div></a>
<% end %>