<h3>Welcome <%= @person.username %>!</h3>

<h3>Create a Blog Post</h3>
<form action='/create_blog' method='post'>
    <textarea id="input-content" maxlength="150" rows="4" cols="40" name="content" placeholder='Blog'></textarea><br>
    <input type="submit" value="create blog">
</form>
<div>
    <h2>Blogs</h2>
    <% @blogs.reverse.take(10).each do |b| %>
    <div class="blog-posts"
        <div class="user-container">
            <a href="/blogs/<%= b.user_id %>">
                <div>
                    <%= b.username %>
                </div>
            </a>
            <div>
                <%= b.content %>
            </div>
        </div>
        <% end %>
</div>
