<head>
	<link rel="stylesheet" type="text/css" href="../css/main.css">
</head>

<body class="main-body">

<div class="login-text"><h4>Login</h4></div>

<form class="login-box" action='/login' method='post'>
	<input type="text" name="username" placeholder='username'>
	<input type="password" name="password" placeholder='password'>
	<input type="submit" value="Sign in">
</form>

<div class="signup-text"><h4><a href="/signup">Sign Up</a></h4></div>

</body>