<head>
	<link rel="stylesheet" type="text/css" href="../css/main.css">
</head>

<h4>Login</h4>

<form class="login" action='/login' method='post'>
	<input type="text" name="username" placeholder='username'>
	<input type="password" name="password" placeholder='password'>
	<input type="submit" value="Sign in">
</form>