<h1>Welcome to your profile!</h1>

<!-- Space for NavBar -->

<h1><%= @person.username %>'s Blogs</h1>
<% @blogs.each do |t|%>
  <div><%= t.content %></div>
  <div class="">
    <form class="editBlog" action="/<%= t.id %>/editBlog" method="get">
      <input type="submit" name="" value="">
    </form>
    <form class="deleteBlog" action="/<%= t.id %>/deleteBlog" method="post">
      <input type="submit" name="" value="">
    </form>
  </div>
<% end %>
