
<div class ="settings-fields">
<h3>Settings</h3>
<form id="updateForm" action='/update_user' method='post'>
  <div><input type="text" name="fname" placeholder="First Name"></div>
  <div><input type="text" name="laname" placeholder="Last Name"></div>
  <div><input type="text" name="email" placeholder="Email"></div>
  <div><input type="text" name="username" placeholder="Username"></div>

  <div><input id="updatePassword" type="password" name="password" placeholder="Password"></div>
  <div><input id="updateButton" type="submit" value="Update"></div>

</form>

<h3>Delete Account</h3>
<form action="/delete_user" method="post">
  <input type="submit" value="Delete Account">
</form>

<script type="text/javascript">
var upPassword = document.getElementById('updatePassword');
var upButton = document.getElementById('updateButton');
var upForm = document.getElementsByClassName('updateForm')[0]

upButton.addEventListener('click', function() {
    console.log(upPassword.value)

    let upNumber = upPassword.value;
    if (upNumber.match(/\d+/g)) {
        upForm.submit()
    } else {
        event.preventDefault();
        alert('Password must include a number')
    }
})
</script>

