<h3>Edit page</h3>

<!-- Space for NavBar -->

<form action='/update_user' method='post'>
  <input type="text" name="fname" placeholder="First Name">
  <input type="text" name="laname" placeholder="Last Name">
  <input type="text" name="email" placeholder="email">
  <input type="text" name="username" placeholder="Username">
  <input type="text" name="password" placeholder="Password">
  <input type="submit" value="Update">
</form>

<h3>Delete Account</h3>
<form action="/delete_user" method="post">
  <input type="submit" value="Delete Account">
</form>