<h1>Sign Up</h1>

<form action="/signup" method="post">
  <input type="text" name="fname" placeholder="First Name">
  <input type="text" name="lname" placeholder="Last Name">
  <input type="text" name="username" placeholder="Username">
  <input type="text" name="password" placeholder="Password">
  <input type="text" name="email" placeholder="Email">
  <input type="submit" value="Sign Up">
</form>

<!-- This is the JS that Oggi shared with Mike to make the password require a number -->
<!-- <script type="text/javascript">
var password = document.getElementById('password');
var button = document.getElementById('button');
var form = document.getElementsByClassName('register-form')[0]

button.addEventListener('click', function(){
    console.log(password.value)
        
            let number = password.value;
            if(number.match(/\d+/g)){
                form.submit()
            }else {
                alert('need a numbers')
            }
})

</script> -->