#video-background {
  position: fixed;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -100;
}

.top-text {
    margin-left: 2%;
    width: 800px;
    height: 40px;
    margin-top: 100px;
    margin-bottom: 25px;
    text-align: center;
    font-size: 25px;
}

.connect {
    margin-left: 2%;
    width: 500px;
    height: 40px;
    margin-top: 100px;
    margin-bottom: 25px;
    text-align: center;
    font-size: 25px;
}

.login-box {
    background-color: #F2F2F2;
    border-radius: 25px;
    margin: 0 auto;
    width: 550px;
    height: 100px;
    text-align: center;
    font-size: 50px;
}

.signup-text {
    background-color: white;
    border-radius: 5px;
    margin: 0 auto;
    width: 70px;
    height: 25px;
    margin-top: 25px;
    margin-left: 790px;
    text-align: center;
    font-size: 15px;
}

.signup-container a {
    color: #00E2AE;
    text-decoration: none;
}

* {
    font-family: 'Open Sans', sans-serif;
}

.user-container {
    margin: 10px;
}


/* unvisited link */
a:link {
    color: #305244;
}

/* visited link */
a:visited {
    color: #305244;
}

/* mouse over link */
a:hover {
    color: #305244;
}

/* selected link */
a:active {
    color: #305244;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
}
    
.navbar li {
    display: inline-block;
    width: 100px;   
}

input[type=text], input[type=password], input[type=email] {
    font-size: 20px;
    margin-bottom:10px;
    padding: 8px 6px;
    height: 38px;
    width:250px;
    box-sizing: border-box;
}
#input-content {
    font-size: 14px;
    margin-bottom:10px;
    padding: 8px 6px;
    word-wrap: break-word;
    text-wrap: supress;
    box-sizing: border-box;
    resize: none;
}

.blog-posts {
    font-size: 20px;
    margin-bottom: 60px;
    padding: 8px 6px;
    height: 40px;
    width: 525px;
    box-sizing: border-box; 
}

