.settings-fields {
    margin-left: 25px;
    margin-top: 25px
    }

#updateButton{
	background-color: #4CAF50;
    border: 2px solid blue;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}