.signup-fields {
	margin-left: 600px;
	margin-top: 100px
	}

#button{
	background-color: #4CAF50;
    border: 2px solid blue;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}

#back-button {
	margin: 10px 10px;
}