<h3>Sign Up form</h3>

<form action='/create_users' method='post'>
	<input type="text" name="username" placeholder='username'>
	<input type="text" name="password" placeholder='password'>
	<input type="submit" value="Create new user">


</form>